h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  font-family: quicksand;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  font-family: quicksand;
}

#main h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);

}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
  font-family: merriweather;
}

p {
  margin: 0 0 1rem;
}

article .container {
  > ul:not(.features),
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);

  > * {
    grid-area: blockquote;
  }

  p {
    position: relative;
    font-size: var(--font-size-h4);
    margin-bottom: 0;
    padding: 0.5em;
    color: var(--color-secondary);

    strong {
      font-size: 1.15em;
    }

    a{
      text-decoration: none;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid var(--color-secondary);
    border-style: inset;
    // box-shadow: 0.25em 0.25em var(--color-secondary);
    transform: scale(1.0);
    content: "";
    // @include respond-to("lg"){
    //   transform: scale(0.9);
    // }
  }

  &::after {
    grid-area: blockquote;
    color: #6f6ffd;
    background-repeat: no-repeat;
    place-self: end;
    background-size: 90%;
    width: 10ch;
    padding-top: 3.25em;
    transform: translate(25%, 50%) rotate(-5deg);
    transform-origin: bottom right;

    @media (max-width: 60rem) {
      transform: translate(25%, 55%) rotate(-5deg);
    }
  }
}

#guidelines,
#contribute {
  p:nth-of-type(1) {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-strong);
  }
}
