@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital@0;1&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+Great+Primer+SC&family=Lora:ital@0;1&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+Great+Primer+SC&family=Lora:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");
:root {
  --color-primary: #32dfe3;
  --color-primary-alt: #9db4c0;
  --color-secondary: #e0fbfc;
  --color-background: #4a5859;
  --color-text: #3c8486;
  --color-light: #fff;
  --color-anchor: #32dfe3;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  font-family: quicksand;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  font-family: quicksand;
}

#main h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
  font-family: merriweather;
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
  color: var(--color-secondary);
}
blockquote p strong {
  font-size: 1.15em;
}
blockquote p a {
  text-decoration: none;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid var(--color-secondary);
  border-style: inset;
  transform: scale(1);
  content: "";
}
blockquote::after {
  grid-area: blockquote;
  color: #6f6ffd;
  background-repeat: no-repeat;
  place-self: end;
  background-size: 90%;
  width: 10ch;
  padding-top: 3.25em;
  transform: translate(25%, 50%) rotate(-5deg);
  transform-origin: bottom right;
}
@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

header {
  background: url("images/tip.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
}
header .container h1 {
  color: white;
  position: relative;
  padding-top: 2%;
  font-size: 3.5rem;
  padding-left: 2%;
  padding-bottom: 2%;
  font-style: italic;
  font-family: quicksand;
  text-align: center;
}
header .container h2 {
  font-family: IM fell great primer SC;
  position: sticky;
  font-size: 1.5rem;
}
header .container p {
  position: absolute;
  bottom: 0;
  font-size: 0.85rem;
  right: 0;
  padding-right: 30px;
}
header .container p a {
  color: #32373b;
  text-decoration: none;
}
header .container .link-github svg {
  fill: #FFD700;
}

@media screen and (min-width: 992px) {
  header .container h1 {
    font-size: 8vw;
    margin-bottom: 80px;
    text-align: left;
  }
  header .container h2 {
    font-size: 2vw;
  }
}
nav {
  width: 100%;
}
nav ul {
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #32373b;
}
nav ul li a {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  nav {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  nav ul {
    margin: 0;
    list-style-type: none;
    width: 50%;
    grid-template-columns: repeat(6, 1fr);
  }
  nav ul li {
    height: 100%;
  }
  nav ul li:hover {
    background-color: #32373b;
  }
}
@media screen and (min-width: 992px) {
  article#about > section.container:nth-of-type(1) {
    padding-right: 25px;
  }

  article#about > section.container:nth-of-type(2) {
    padding-left: 25px;
  }
}
article#guidelines {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
article#guidelines #h3 {
  font-family: quicksand;
}
article#guidelines p {
  width: 80%;
  margin: auto;
}

section.container h2 {
  margin-top: 60px;
}

section.container h3 {
  font-size: 30px;
  font-weight: 700;
}

section.container h3 {
  border-style: inset;
  border-width: 5px;
  border-color: #c2dfe3;
  padding: 0.5em;
  display: inline-block;
}

section.container a.link-guidelines {
  color: black;
}

#contribute {
  text-align: center;
}
#contribute:first-child {
  width: 100%;
  margin: auto;
}
#contribute p {
  width: 80%;
  margin: auto;
}
#contribute .container:nth-of-type(2) {
  width: 80%;
  margin: auto;
  padding-top: 40px;
}
#contribute .container:nth-of-type(2) ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#contribute .container:nth-of-type(2) ol li {
  position: relative;
}
#contribute .container:nth-of-type(2) ol li::before {
  content: url("images/clouds.svg");
}

@media screen and (min-width: 992px) {
  #contribute .container:nth-of-type(2) ol {
    padding-left: 1.5em;
  }
  #contribute .container:nth-of-type(2) ol li {
    padding-left: 1.5em;
    position: relative;
    width: 100%;
    padding-top: 2.5em;
  }
  #contribute .container:nth-of-type(2) ol li::before {
    content: url("images/clouds.svg");
    left: 47%;
    top: 0.2em;
    width: 3em;
    height: 1.5em;
    position: absolute;
  }
}
#styles {
  text-align: center;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  #styles #styles {
    padding-top: 20px;
  }
}
#styles ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  margin: auto;
  list-style: none;
  padding: 0;
}
#styles ul li {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: black;
  text-align: center;
}
#styles ul li a {
  color: #32373b;
  text-decoration: none;
  font-size: 1.5rem;
}
#styles ul li a::before {
  content: "";
  display: inline-block;
  background: url("/images/clouds.svg") no-repeat;
  width: 32px;
  height: 16px;
  filter: invert(54%) sepia(94%) saturate(748%) hue-rotate(137deg) brightness(97%) contrast(101%);
}
#styles ul li a::after {
  content: "";
  display: inline-block;
  background: url("/images/clouds.svg") no-repeat;
  width: 32px;
  height: 16px;
  filter: invert(54%) sepia(94%) saturate(748%) hue-rotate(137deg) brightness(97%) contrast(101%);
}
#styles ul li a:hover::before {
  transform: scale(1.5);
}
#styles ul li a:hover::after {
  transform: scale(1.5);
}
#styles .link-allstyles {
  margin: 40px 0;
}

@media screen and (min-width: 992px) {
  #styles {
    text-align: center;
    padding-top: 40px;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) {
  #styles {
    padding-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  #styles ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
    list-style: none;
  }
  #styles ul li {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: black;
    text-align: center;
  }
  #styles ul li a {
    color: #32373b;
    text-decoration: none;
    font-size: 1.5rem;
  }
  #styles ul li a::before {
    content: "";
    display: inline-block;
    background: url("/images/clouds.svg") no-repeat;
    width: 32px;
    height: 16px;
    filter: invert(54%) sepia(94%) saturate(748%) hue-rotate(137deg) brightness(97%) contrast(101%);
  }
  #styles ul li a::after {
    content: "";
    display: inline-block;
    background: url("/images/clouds.svg") no-repeat;
    width: 32px;
    height: 16px;
    filter: invert(54%) sepia(94%) saturate(748%) hue-rotate(137deg) brightness(97%) contrast(101%);
  }
  #styles ul li a:hover::before {
    transform: scale(1.5);
  }
  #styles ul li a:hover::after {
    transform: scale(1.5);
  }
}
body {
  background-color: #4a5859;
  color: white;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: white;
  margin: 0;
}

main {
  width: 80%;
  margin: auto;
}
main #about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
main h2 {
  border-radius: 20px;
  font-weight: 300;
}
main p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
main ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
main ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: quicksand;
  font-weight: 600;
  font-size: 16px;
  color: #555;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
main ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main ul li:first-child {
  margin-top: 16px;
}

@media screen and (min-width: 992px) {
  main {
    width: 80%;
    margin: auto;
  }
  main #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main h2 {
    border-radius: 20px;
    font-weight: 300;
  }
  main p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  main ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
  main ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: quicksand;
    font-weight: 600;
    font-size: 16px;
    color: #555;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  main ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  main ul li:first-child {
    margin-top: 16px;
  }
}
.profile {
  background-color: white;
  color: #32373b;
  margin-top: 25px;
}

h4#profile-title {
  font-family: Quicksand;
  padding: 10px;
  font-size: 32px;
}

aside.profile {
  text-align: center;
}

.profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile a {
  color: var(--color-primary) !important;
}

@media screen and (min-width: 992px) {
  h4#profile-title {
    font-family: Quicksand;
    padding: 10px;
  }

  aside.profile {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(50, 55, 59, 0.5);
    padding-bottom: 20px;
    padding-right: 15px;
    z-index: 10;
    text-align: right;
  }

  .profile {
    background-color: initial;
    color: white;
    margin-top: 0;
  }

  .profile a {
    color: var(--color-primary) !important;
  }
}
.page-footer {
  background-color: #32373b;
  position: relative;
  text-align: center;
  padding: 15px 0;
}
.page-footer .container ul {
  display: flex;
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 40px 0;
  justify-content: space-between;
  flex-direction: column;
}
.page-footer .container ul .link-github svg {
  fill: #FFD700;
}

@media screen and (min-width: 992px) {
  .page-footer .container ul {
    flex-direction: row;
  }
  .page-footer .container ul li::before {
    content: url("/images/clouds.svg");
  }
  .page-footer .container ul li:nth-child(odd)::before {
    content: url("/images/clouds.svg");
    display: inline-block;
    width: 150px;
  }
  .page-footer .container ul li:nth-child(even)::before {
    content: url("/images/clouds.svg");
    display: inline-block;
    width: 225px;
  }
}
.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: var(--color-onyx);
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link] {
  border-radius: 100000000px;
  background-color: var(--color-primary);
  color: #32373b;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  [class^=link] {
    margin-bottom: 0px;
  }
}

[class^=link],
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #32373b;
}
[class^=link]:hover, [class^=link]:focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}
